name: Build and Push Images for Release

on:
  push:
    tags:
      - "release-*"

env:
  ACR_NAME: cactusimageregistry.azurecr.io
  GHCR_NAME: ghcr.io/synergy-au

jobs:
  build-and-push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - cactus-orchestrator
          - cactus-runner
          - cactus-teststack-init
          - cactus-ui
          - cactus-envoy
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_NAME }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with: 
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag
        id: extract_tag
        run: echo "IMAGE_TAG=${GITHUB_REF##*/release-}" >> "$GITHUB_ENV"

      - name: Extract Version
        id: extract_versions_lock
        run: cat docker/versions.lock >> "$GITHUB_ENV"

      - name: Build and Push ${{ matrix.image }}
        run: |
          IMAGE=${{ matrix.image }}
          BUILD_ARG=""
          CTX_DIR=${IMAGE}
          case $IMAGE in
            cactus-orchestrator) BUILD_ARG="--build-arg CACTUS_ORCHESTRATOR_VERSION=${CACTUS_ORCHESTRATOR_VERSION}" ;;
            cactus-runner) BUILD_ARG="--build-arg CACTUS_RUNNER_VERSION=${CACTUS_RUNNER_VERSION}" ;;
            cactus-teststack-init) BUILD_ARG="--build-arg ENVOY_VERSION=${ENVOY_VERSION}" ;;
            cactus-ui) BUILD_ARG="--build-arg CACTUS_UI_VERSION=${CACTUS_UI_VERSION}" ;;
            cactus-envoy) BUILD_ARG="--build-arg ENVOY_VERSION=${ENVOY_VERSION}" CTX_DIR="envoy";;
          esac

          docker build -t ${ACR_NAME}/${IMAGE}:${IMAGE_TAG} $BUILD_ARG ./docker/${CTX_DIR}
          docker build -t ${GHCR_NAME}/${IMAGE}:latest $BUILD_ARG ./docker/${CTX_DIR}

          docker push ${ACR_NAME}/${IMAGE}:${IMAGE_TAG}
          docker push ${GHCR_NAME}/${IMAGE}:latest
