name: Build and Push Images for Release

on:
  push:
    tags:
      - "release-*"

env:
  ACR_NAME: cactusimageregistry.azurecr.io
  GHCR_NAME: ghcr.io/synergy-au

jobs:
  build-and-push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_NAME }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with: 
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag
        id: extract_tag
        run: echo "IMAGE_TAG=${GITHUB_REF##*/release-}" >> "$GITHUB_ENV"

      - name: Extract Version
        id: extract_versions_lock
        run: cat docker/versions.lock >> "$GITHUB_ENV"

      - name: cactus-orchestrator
        run: |
          docker build -t ${ACR_NAME}/cactus-orchestrator:${IMAGE_TAG} --build-arg CACTUS_ORCHESTRATOR_VERSION="${CACTUS_ORCHESTRATOR_VERSION}" ./docker/cactus-orchestrator
          docker build -t ${GHCR_NAME}/cactus-orchestrator:latest --build-arg CACTUS_ORCHESTRATOR_VERSION="${CACTUS_ORCHESTRATOR_VERSION}" ./docker/cactus-orchestrator
          docker push ${ACR_NAME}/cactus-orchestrator:${IMAGE_TAG}
          docker push ${GHCR_NAME}/cactus-orchestrator:latest

      - name: cactus-runner
        run: |
          docker build -t ${ACR_NAME}/cactus-runner:${IMAGE_TAG} --build-arg CACTUS_RUNNER_VERSION="${CACTUS_RUNNER_VERSION}" ./docker/cactus-runner
          docker build -t ${GHCR_NAME}/cactus-runner:latest --build-arg CACTUS_RUNNER_VERSION="${CACTUS_RUNNER_VERSION}" ./docker/cactus-runner
          docker push ${ACR_NAME}/cactus-runner:${IMAGE_TAG}
          docker push ${GHCR_NAME}/cactus-runner:latest

      - name: cactus-teststack-init
        run: |
          docker build -t ${ACR_NAME}/cactus-teststack-init:${IMAGE_TAG} --build-arg ENVOY_VERSION="${ENVOY_VERSION}" ./docker/cactus-teststack-init
          docker build -t ${GHCR_NAME}/cactus-teststack-init:latest --build-arg ENVOY_VERSION="${ENVOY_VERSION}" ./docker/cactus-teststack-init
          docker push ${ACR_NAME}/cactus-teststack-init:${IMAGE_TAG}
          docker push ${GHCR_NAME}/cactus-teststack-init:latest

      - name: cactus-ui
        run: |
          docker build -t ${ACR_NAME}/cactus-ui:${IMAGE_TAG} --build-arg CACTUS_UI_VERSION="${CACTUS_UI_VERSION}" ./docker/cactus-ui
          docker build -t ${GHCR_NAME}/cactus-ui:latest --build-arg CACTUS_UI_VERSION="${CACTUS_UI_VERSION}" ./docker/cactus-ui
          docker push ${ACR_NAME}/cactus-ui:${IMAGE_TAG}
          docker push ${GHCR_NAME}/cactus-ui:latest

      - name: envoy
        run: |
          docker build -t ${ACR_NAME}/cactus-envoy:${IMAGE_TAG} --build-arg ENVOY_VERSION="${ENVOY_VERSION}" ./docker/envoy
          docker build -t ${GHCR_NAME}/cactus-envoy:latest --build-arg ENVOY_VERSION="${ENVOY_VERSION}" ./docker/envoy
          docker push ${ACR_NAME}/cactus-envoy:${IMAGE_TAG}
          docker push ${GHCR_NAME}/cactus-envoy:latest

