name: Build and Push Images for Release

on:
  push:
    tags:
      - "release-*"

env:
  ACR_NAME: cactusimageregistry.azurecr.io
  GHCR_NAME: ghcr.io/synergy-au

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.build-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4

      - name: Extract Version
        id: extract_versions_lock
        run: cat docker/versions.lock >> "$GITHUB_ENV"

      - id: build-matrix
        run: |
          cat <<EOF >> "$GITHUB_OUTPUT"
          matrix<<JSON
          {
           "include": [
            {
              "IMAGE_NAME": "cactus-orchestrator",
              "VERSION_NAME": "CACTUS_ORCHESTRATOR_VERSION",
              "VERSION_VALUE": "${CACTUS_ORCHESTRATOR_VERSION}",
              "BUILD_DIR": "./docker/cactus-orchestrator"
            },
            {
              "IMAGE_NAME": "cactus-runner",
              "VERSION_NAME": "CACTUS_RUNNER_VERSION",
              "VERSION_VALUE": "${CACTUS_RUNNER_VERSION}",
              "BUILD_DIR": "./docker/cactus-runner"
            },
            {
              "IMAGE_NAME": "cactus-teststack-init",
              "VERSION_NAME": "ENVOY_VERSION",
              "VERSION_VALUE": "${ENVOY_VERSION}",
              "BUILD_DIR": "./docker/cactus-teststack-init"
            },
            {
              "IMAGE_NAME": "cactus-ui",
              "VERSION_NAME": "CACTUS_UI_VERSION",
              "VERSION_VALUE": "${CACTUS_UI_VERSION}",
              "BUILD_DIR": "./docker/cactus-ui"
            },
            {
              "IMAGE_NAME": "cactus-envoy",
              "VERSION_NAME": "ENVOY_VERSION",
              "VERSION_VALUE": "${ENVOY_VERSION}",
              "BUILD_DIR": "./docker/envoy"
            },
            {
              "IMAGE_NAME": "cactus-client-notifications",
              "VERSION_NAME": "CACTUS_CLIENT_NOTIFICATIONS_VERSION",
              "VERSION_VALUE": "${CACTUS_CLIENT_NOTIFICATIONS_VERSION}",
              "BUILD_DIR": "./docker/cactus-client-notifications"
            }
           ]
          }
          JSON
          EOF

  build-and-push:
    name: Build and Push Docker Images
    needs: prepare-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.prepare-matrix.outputs.matrix) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_NAME }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with: 
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag
        id: extract_tag
        run: echo "IMAGE_TAG=${GITHUB_REF##*/release-}" >> "$GITHUB_ENV"

      - name: build-push
        run: |
          docker build -t ${ACR_NAME}/${{ matrix.IMAGE_NAME }}:${IMAGE_TAG} -t ${GHCR_NAME}/${{ matrix.IMAGE_NAME }}:latest --build-arg ${{ matrix.VERSION_NAME }}="${{ matrix.VERSION_VALUE }}" "${{ matrix.BUILD_DIR }}"
          docker push ${ACR_NAME}/${{ matrix.IMAGE_NAME }}:${IMAGE_TAG}
          docker push ${GHCR_NAME}/${{ matrix.IMAGE_NAME }}:latest

