name: Generate Changelog on Release

on:
  push:
    tags:
      - 'test-*'

jobs:
  generate-release-notes:
    name: Generate Changelog for Deploy Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout deploy repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Needed to access previous tags

      - name: Determine current and previous tags
        id: tags
        run: |
          CURRENT_TAG=${GITHUB_REF_NAME}
          echo "Current tag: $CURRENT_TAG"
          PREV_TAG=$(git tag --sort=-creatordate | grep -A1 "$CURRENT_TAG" | tail -n1)
          echo "Previous tag: $PREV_TAG"
          echo "current_tag=$CURRENT_TAG" >> $GITHUB_OUTPUT
          echo "previous_tag=$PREV_TAG" >> $GITHUB_OUTPUT

      - name: Get versions files for current and previous tags
        id: versions
        run: |
          mkdir versions
          git show ${{ steps.tags.outputs.previous_tag }}:docker/versions.lock > versions/previous
          git show ${{ steps.tags.outputs.current_tag }}:docker/versions.lock > versions/current
          echo "Previous and current versions.lock files extracted."

      - name: Generate Release Notes
        id: notes
        run: |
          echo "# CACTUS Deploy ${{ steps.tags.outputs.current_tag }}" > versions/changes
          echo "The following are the change notes for every software component from \`${{ steps.tags.outputs.previous_tag }}\` to \`${{ steps.tags.outputs.current_tag }}\`" >> versions/changes
          echo "" >> versions/changes
          while IFS='=' read -r dep ver; do
            [ -z "$dep" ] && continue
            old_ver=$(grep "^$dep=" versions/previous | cut -d= -f2)
            
            ORG="bsgip"
            REPO=""
            NAME=""

            if [ "$dep" == "CACTUS_ORCHESTRATOR_VERSION" ]; then
              REPO="cactus-orchestrator"
              NAME="Orchestrator"
            elif [ "$dep" == "CACTUS_RUNNER_VERSION" ]; then
              REPO="cactus-runner"
              NAME="Test Runner"
            elif [ "$dep" == "CACTUS_UI_VERSION" ]; then
              REPO="cactus-ui"
              NAME="Web UI"
            elif [ "$dep" == "ENVOY_VERSION" ]; then
              REPO="envoy"
              NAME="Utility Server"
            elif [ "$dep" == "CACTUS_CLIENT_NOTIFICATIONS_VERSION" ]; then
              REPO="envoy"
              NAME="Utility Server"
            else
              echo "" >> versions/changes
              echo "> [!CAUTION]" >> versions/changes
              echo "> Unrecognised Dependency \`$dep\`" >> versions/changes
              continue
            fi


            echo "# $NAME" >> versions/changes
            echo ""
            if [ "$old_ver" != "$ver" ]; then
              echo "No change from \`$ver\`" >> versions/changes
            else
              echo "\`$old_ver\` changed to \`$ver\`" >> versions/changes
              echo "" >> versions/changes
              gh release view $ver --repo "${ORG}/${REPO}" --json body -q .body >> versions/changes
              # echo "" >> versions/changes
            fi
          done < versions/current

          echo "Generated Release Notes:"
          cat versions/changes

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tags.outputs.current_tag }}
          name: ${{ steps.tags.outputs.current_tag }}
          body_path: versions/changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
